.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 525px;
  height: auto;
  padding: 0;
  font-size: 14px;
  border-radius: 24px;
  position: fixed;
  margin-left: -262.5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}
.searchTitle {
  margin: 0px;
  font-size: 22px;
  width: 500px;
  border-bottom: 2px solid lightgray;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin-top: 0;
  padding-top: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.search-input {
  text-decoration: none;
  border: none;
}
.search-div {
  border: 1px solid lightgray;
  margin: 2px;
  border-radius: 6px;
  padding: 4px;
}
.searchButton {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  align-self: center;
}
.navOuterShell {
  height: 0px;
}
.timeInput {
  cursor: text;
}
.searchIcon {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  align-self: center;
  width: 40px;
  height: 40px;
}
.searchIcon:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}
