.spotBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 200px;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  outline: none;
}
.spotInner {
  width: 60%;
  height: 99%;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.spotImage {
  border: 2px solid black;
  border-radius: 12px;
  width: 40%;
  height: 99%;
  outline: none;
}
.spotType {
  width: 100%;
  font-size: 14px;
  opacity: 0.5;
}
.spotTitle {
  margin: 10px;
  margin-left: 0px;
  font-size: 20px;
}
.amenitiesList {
  margin-bottom: 5px;
}
.spotRating {
  margin-bottom: 5px;
}
.spotPrice {
  margin-bottom: 5px;
}
.partialLine {
  width: 20%;
  border-top: 2px solid lightgray;
  margin-bottom: 10px;
}
.partialLineBox {
  width: 100%;
  text-align: start;
  margin-left: 10px;
}
.ratingPriceBox {
  margin-left: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 20px;
}
