body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: white;
  box-sizing: border-box;
}
#root {
  height: 0px;
}
.bodyShell,
.bodyShellLower {
  z-index: -2;
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  width: 99%;
}
.LandingShell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("./images/shellimage2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 100vw;
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -2;
  min-width: 830px;
}
.testDiv {
  color: black;
}
.defaultInner {
  display: flex;
  flex-direction: column;
  color: rgb(24, 24, 24);
  align-items: center;
  background: #ffffff none repeat scroll 0% 0%;
  height: fit-content;
  max-width: 568px;
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
}
.defaultOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.ReactModal__Content {
  opacity: 0;
  transform: translateY(400px);
  transition: all 400ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}
