body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: white;
  box-sizing: border-box;
}
#root {
  height: 0px;
}
.bodyShell {
  z-index: -1;
  position: relative;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
}
